<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register a new account</title>
    </head>
    <body>
        <h1>Log in</h1>
        {%if error%}
            <h3>{{error}}</h3>
        {%endif%}

        <form method = "POST" action ="{% url 'accounts:login_view' %}">
            {% csrf_token %}
            Username:
            <br/>
            <input type = "text" name = "username"/>
            <br/>
            Password:
            <br/>
            <input type = "password" name = "password"/>
            <br/>
            <br/>
            <input type = "submit" value = "Login"/>
        </form>
    </body>
</html>