<!DOCTYPE html>
{% extends  'base.html '%}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register a new account</title>
    </head>
    <body>
        <h1>Sign up!</h1>
        {%if error%}
            <h3>{{error}}</h3>
        {%endif%}

        <form method = "POST" action ="{% url 'accounts:signup' %}">
            {% csrf_token %}
            Username:
            <br/>
            <input type = "text" name = "username"/>
            <br/>
            Password:
            <br/>
            <input type = "password" name = "password1"/>
            <br/>
            Confirm password:
            <br/>
            <input type = "password" name = "password2"/>
            <br/>
            <br/>
            <input class="btn btn-primary" type = "submit" value = "Sign up!"/>
        </form>
    </body>
{% endblock %}
</html>